{% extends "homebase.html" %}

{% block title %} My cart{{  product_details.slug }} {% endblock %}
{% block keywords %} {{ product_details.keywords }}{% endblock %}
{% block description  %} {{ product_details.description }} {% endblock %}

{% block head   %}
<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}



{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
{% block body %}

            <h1 class="text-center">Order Confirmation</h1>
            <p class="text-center">Thank you, {{ user.first_name }}  for placing your order. Your order code is: {{ordercode }}</p>
{% endblock %}