{% extends "homebase.html" %}

{% block title %} Referanslarımız {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block description  %} {{ setting.description }} {% endblock %}

{% block head   %}
<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}



{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li style="margin-right: 10px;"><a href="/">Anasayfa</a></li>
                <li class="active">Referanslarımız</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="section">
                <h1>Hakkımızda</h1>
                <p>{{ setting.references |safe   }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}