{% extends "homebase.html" %}

{% block title %} {{profile.user_name}} Profile {% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block description  %} {{ setting.description }} {% endblock %}

{% block head   %}
<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}



{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
{% block body %}

<!-- Header Section -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
        <div class="d-inline-flex">
            <p class="m-0"><a href="/">Home</a></p>
            <p class="m-0 px-2">|</p>
            <p class="m-0">User Profile</p>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <!-- Left Side (User Panel) -->
            <div class="col-md-3 user-panel">
                {% include "user_panel.html" %}
            </div>

            <!-- Right Side (Change Password Section) -->
            <div class="col-md-9">
                <h1 style="border-bottom: 2px solid #000;">Change Password</h1>

                <!-- User Image -->
                <div class="media">
                    <img src="{{ user.userprofile.image.url }}" style="height: 150px; border-radius: 45px;">
                </div>
                        {% if messages %}
                            {% for message in messages %}
                                <div style="color:#d43f3a; font-size:mediun">
                                    {{ message |safe }}
                                </div>
                            {% endfor %}
                        {%  endif  %}            

                <!-- Change Password Form -->
                <form method="POST" class="user-info-form">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="form-field">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button class="primary-btn" type="submit">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}